		  	<div class="row" id="cal">
		      <div class="col-xs-7"> 
		      	<p id="today-year"><%= Date.today.strftime("%Y") %></p>
		       
		        <table id="months">
		          <td>jan</td><td>feb</td><td>mar</td><td>apr</td><td>may</td>
		          <td>jun</td><td>jul</td><td>aug</td><td>sep</td><td>oct</td><td>nov</td><td>dec</td>
		        </table>    

		      	<table id="days"> 
		          <td>sun</td><td>mon</td><td>tue</td><td>wed</td><td>thu</td><td>fri</td><td>sat</td>
		        </table> 

		        <div id="cal-frame">
		          <table class="curr"> 
							  <tr>
							  	<%= month = Date.today.month %>
							 	 	<% @beginning_of_month = Date.civil(2015, month, 1) %>
							  	<% @end_of_month = Date.civil(2015, month, -1) %>

							  <% (@beginning_of_month..@end_of_month).each do |d| %>
							    <% if d == @beginning_of_month %>
							      <% d.wday.times do %> <td class='offset'></td> <% end %>
							    <% end %>

							    <% if d.wday == 0 %> </tr><tr> <% end %>
							    <td> <%= d.day %> </td>
							  <% end %>
							  </tr>
		          </table> 
		        </div> 
		      </div>