<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Calendar Task App </title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
    
    <!-- custom styles.css -->
    <style type=text/css>{{ get_resource_as_string('static/styles.css') }}</style>
</head>
 
<body>
    <div class="container"> 
        <div class="jumbotron">
            <h1>Welcome </h1>
            <h3> It's all in one </he>
            <p>We merge your tasks and your Google Calendar, leting you see with a glance what you have finished and what tasks still need completion for your day</p>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/users/auth/google_oauth2" role="button">Sign in with your google account</a>
            </p>
        </div>
 
        <footer class="footer">
            <p>&copy; 2015</p>
        </footer>
 
    </div>
</body>
 
</html>